POSTGRES_DB=dro_db
POSTGRES_USER=dro_user
POSTGRES_PASSWORD=change-this-local-password
POSTGRES_PORT=5432
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/dro_db
SPRING_DATASOURCE_USERNAME=dro_user
SPRING_DATASOURCE_PASSWORD=change-this-local-password
API_PORT=8080
DRO_JWT_SECRET=change-this-local-jwt-secret
DRO_JWT_ISSUER=digimon-revolution-online
DRO_JWT_EXPIRATION_MINUTES=1440
MONGO_ROOT_USERNAME=dro_mongo
MONGO_ROOT_PASSWORD=change-this-mongo-password
MONGO_DATABASE=dro_audit
MONGO_PORT=27017
SPRING_DATA_MONGODB_AUTO_INDEX_CREATION=false
DRO_AUDIT_OUTBOX_FIXED_DELAY_MS=5000
DRO_AUDIT_OUTBOX_MAX_ATTEMPTS=5
DRO_CACHE_CATALOGS_MAX_SIZE=500
DRO_CACHE_CATALOGS_TTL_SECONDS=300
